.App {
  font-family: sans-serif;
  text-align: center;
}
html {
  background-image: url("images/lofi-1.jpg");
  min-height: 100%;
  min-width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
